[user]
	name = Kazuhisa Hara
	email = kazuhisya@gmail.com
[color]
	ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
	editor = vim -c \"set fenc=utf-8\"
[alias]
    st = status
    up = pull --rebase
    ci = commit -a
    gr = log --graph
